.contendor{
  width: 560px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: blue;

}
.note{
  width: 60px;
  height: 300px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  background: #02b65e;
}
.center{
  text-align: center;
  width: 560px;
  height: 300px;
  margin: 0 auto;
  background: blue;
}

.note{
  width: 60px;
  height: 300px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  background: #02b65e;
}

.note:nth-child(1){
  background: #02b65e;
  height: 300px;
}
.note:nth-child(2){
  background: #f0d20e;
  height: 280px;
}
.note:nth-child(3){
  background: #d04559;
  height: 260px;
}
.note:nth-child(4){
  background: #e28c12;
  height: 240px;
}
.note:nth-child(5){
  background: #8e83c8;
  height: 220px;
}
.note:nth-child(6){
  background: #0285d4;
  height: 200px;
}
.note:nth-child(7){
  background: #fdc1c0;
  height: 180px;
}
.note:nth-child(8){
  background: #be3c22;
  height: 160px;
}
